/*---- sIFR ---*/
.sIFR-flash { visibility: visible !important; margin: 0; padding: 0; }

.sIFR-unloading .sIFR-flash { visibility: hidden !important; }

.sIFR-replaced, .sIFR-ignore { visibility: visible !important; }

.sIFR-alternate { position: absolute; left: 0; top: 0; width: 0; height: 0; display: block; overflow: hidden; }

.sIFR-replaced div.sIFR-fixfocus { margin: 0pt; padding: 0pt; overflow: auto; letter-spacing: 0px; float: none; }
/*---- end sIFR ---*/

/* begin Meyer's altered reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes: "" ""; }
/* end Meyer's altered reset */

body { font:62.5% arial, verdana, helvetica, geneva, sans-serif; background:#fdfdf1; color:#000; line-height:1.6em; }
a { color:#000; }
.tel .type { display:none; }

#container { position:relative; z-index:10; width:53em; min-height:185em; height:auto !important; height:185em; background:url(/images/bg.png) top right no-repeat; margin-bottom:-10em; padding:1.5em 32em 0 0; }

#branding { width:33.7em; font:1.1em 'Trebuchet MS', Georgia, serif; line-height:1em; padding-bottom:1.5em; margin:0; background:url(/images/dot.png) bottom left repeat-x; color:#403c36; }
#branding h1 { background:url(/images/dot.png) bottom left repeat-x; margin-right:.1em; padding-bottom:1em;  }
#branding h1 a { display:block; width:267px; height:124px; margin-left:.7em; background:url(/images/site-title.png) top left no-repeat; text-indent:-9999em; }
#branding .tel { padding-left:.2em; display:block; padding-top:1em; }
#branding .adr,
#branding .tel {padding-left:1em; font-size:1.2em; line-height:1.3em;}

#intro { height:27em; background:url(/images/intro.png) top left no-repeat; margin-top:1em; padding:2em 0 0 25em; } 
#intro h4 { font:2.2em arial, sans-serif; margin-bottom:.25em; color:#403c36; line-height:.9em; }
#intro p { font:1.8em 'Trebuchet MS', Georgia, serif; line-height:1.7em; color:#403c36; padding:0 2em 0 .2em; }
#intro .firstLine { display:block; }

#content { margin-left:2em; padding:0 1.5em .7em 0; }
#content h2 { font:2.2em arial, sans-serif; background:url(/images/dot.png) top left repeat-x; margin-bottom:.4em; padding-top:.7em; line-height:.9em; color:#403c36; }
#content p { font-size:1.2em; margin-bottom:1.8em; }
#content ul { list-style-type:disc; margin:0 0 1.3em 2em; font-size:1.2em; }
#content li { margin-bottom:.2em; }

p#sideNote { font-style:italic; }
p#sideNote em { font-weight:bold; font-style:normal; }

#contactInfo { font:1.5em 'Trebuchet MS', Georgia, serif; background:url(/images/dot.png) top left repeat-x; color:#403c36; padding-top:.7em; }
#contactInfo h3 { display:inline; font-size:1em; font-weight:normal; }
#contactInfo .fn { display:none; }

#copyright { position:absolute; z-index:100; width:52.2em !important; width:51.7em; height:18em; background:#fdfdf1 url(/images/footer.png) top right no-repeat; font-size:1em; padding:1em 0 2em 2em; }
